<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.oracle.mapper.ProfessionalMapper">
    <resultMap id="ProfessionalMap" type="com.oracle.pojo.ProfessionalTitles">
        <id column="id" property="professionalTitleId"/>
        <result column="title_name" property="professionalTitleName"/>
        <result column="description" property="professionalTitleDesc"/>


    </resultMap>
    <select id="selectProfessionalTitleAll" resultMap="ProfessionalMap">
        select  * from professional_titles

    </select>

	
</mapper>
